<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SoccerCoordinator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6BF996C11DB9989E0042208C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BF996D51DB9989F0042208C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BF996E01DB9989F0042208C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
